---
import Layout from "../layouts/Layout.astro";
import Avatar from "../components/Avatar.astro";
import Socials from "../components/Socials.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Luca Cotti">
	<header
		class="w-screen h-screen flex flex-col justify-between items-center gap-4"
	>
		<div>
			<span class="hidden">Hidden</span>
		</div>

		<div class="flex flex-col justify-center items-center">
			<Avatar href="/profile.jpg" />

			<h1 class="mt-2 mb-2">Luca Cotti</h1>

			<p class="mt-0 mb-2">AI Engineer & Researcher</p>

			<Socials />
		</div>

		<div>
			<a href="#main">
				<Icon name="fa-solid:angle-down" class="text-4xl"/>
			</a>
		</div>
	</header>
	<main id="main">

	</main>
</Layout>
