---
import Layout from '../layouts/Layout.astro';
import Avatar from '../components/Avatar.astro';
import Socials from '../components/Socials.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-screen h-screen flex items-center justify-center flex-col gap-4">
		<Avatar href='' />
		<h1 class="mb-2">Welcome to <span class="text-gradient">Astro</span></h1>
		<h2 class="mt-2">To get started, open the directory <code>src/pages</code> in your project.</h2>
		<Socials />
	</main>
</Layout>