---
import SocialIcon from "./SocialIcon.astro";
---

<div class="flex gap-5">
    <SocialIcon icon="fa-regular:envelope" href="mailto:lucacotti@outlook.com" title="Email" />
    <SocialIcon icon="fa-brands:linkedin" href="https://www.linkedin.com/in/luca-cotti/" title="LinkedIn" />
    <SocialIcon icon="fa-brands:github" href="https://github.com/LucaCtt" title="GitHub" />
    <SocialIcon icon="fa-brands:orcid" href="https://orcid.org/0009-0004-6351-556X" title="ORCID" />
</div>
